# GearPump
.*
!.gitignore

logs/

# Scala
*.class
*.log

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Java
*.jar
*.war
*.ear
hs_err_pid*

# IntelliJ
/*.iml
out/
*.ipr
*.iws
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml

# Eclipse
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
*.launch
